.listContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.list {
    padding: 0;
    padding: 0px 10px;
    margin: 0px;
}

.listDelete {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #aaa;
    cursor: pointer;
}

.listTitleContainer {
    padding: 10px 30px 10px 15px;
}

.listTitleContainer > .listTitleHandle {
    position: absolute;
    left: -2px;
    top: 23px;
    font-size: 24px;
}

.listTitle {
    font-size: 20px;
    text-align: left;
    border: none;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    outline: none;
}

.listContent {
    flex-grow: 1;
    overflow: auto;
    margin-bottom: 5px;
}

.listEmptyNotice {
    color: #ccc;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    width: 100%;
    padding: 10px 0;
}

.completed {
    text-align: left;
}

.completedTitle {
    font-size: 12px;
    color: #aaa;
    display: inline-block;
    padding: 10px;
}