.list {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.listHeader {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    padding-bottom: 5px;
}

.listDragHandle {
    padding: 10px 5px 0 2px;
}

.listDragHandle > .dragHandle {
    font-size: 28px;
}

.listTitle {
    flex-grow: 1;
    padding: 13px 0px 0px 0px;
    text-align: left;
}

.listTitleInput {
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 20px;
    border: none;
    text-overflow: ellipsis;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    /* Prevent highlight during DnD in iOS */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.listMenu {
    flex: 0 0 100px;
    text-align: right;
    padding-top: 4px;
    color: #aaa;
    cursor: pointer;
}

.listContent {
    flex-grow: 1;
    overflow: auto;
    margin-bottom: 5px;
}

.listContentActive,
.listContentCompleted {
    padding: 0;
    margin: 0;
}

.listEmptyNotice {
    color: #ccc;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    width: 100%;
    padding: 7px 0px 6px 0px;
    cursor: pointer;
}

.completed {
    text-align: left;
}

.completedTitle {
    font-size: 12px;
    color: #aaa;
    display: inline-block;
    padding: 10px;
}
