.listContainer {
    height: 100%;
    overflow: hidden;
}

.list {
    padding: 0;
    padding: 10px;
    margin: 0px;
}

.listTitleContainer {
    padding: 10px 10px 0px 10px;
}

.listTitle {
    font-size: 20px;
    text-align: left;
    border: none;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    outline: none;
}