.item {
    list-style-type: none;
    padding-left: 24px;
}

.itemHandle {
    position: absolute;
    left: -8px;
    top: 5px;
    content: '....';
    width: 10px;
    height: 20px;
    display: inline-block;
    overflow: hidden;
    line-height: 5px;
    padding: 3px 4px;
    cursor: move;
    vertical-align: middle;
    margin-top: -.7em;
    margin-right: .3em;
    font-size: 12px;
    font-family: sans-serif;
    letter-spacing: 2px;
    color: #cccccc;
    text-shadow: 1px 0 1px black;
}
.itemHandle::after {
    content: '.. .. ..';
}

.itemInput {
    width: 100%;
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
}

.itemCheckbox {
    position: absolute;
    top: 1px;
    left: 6px;
}