.App {
  text-align: center;
}

.App > .sidebar {
  position: absolute;
  height: 100%;
  left: 0px;
  width: 50px;
  border-right: 1px solid #ccc;
  background-color: #eee;
}

.App > .sidebar > .logo {
  width: 30px;
  height: 30px;
  padding: 10px 10px 0 10px;
}

.App > .sidebar > .iconButton {
  margin: 15px 0 0 0;
  font-size: 24px;
  color: #bbb;
  cursor: pointer;
}

.App > .sidebar > .iconButton:hover {
  color: #999;
}

.App > .sidebar .importLabel {
  cursor: pointer;
}

.App > .sidebar .importInput {
  display: none;
}

.App > .layout {
  margin-left: 50px;
}

.App-list {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}