.App {
  text-align: left;
}

.App > .sidebar {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 50px;
  border-bottom: 1px solid #ccc;
  background-color: #eee;
}

.App > .sidebar > .logo {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 10px 10px 0 10px;
}

.App > .sidebar > .iconButton {
  display: inline-block;
  margin: 0 0 0 30px;
  font-size: 28px;
  color: #aaa;
  cursor: pointer;
  vertical-align: top;
}

.App > .sidebar > .iconButton:hover {
  color: #999;
}

.App > .sidebar .importLabel {
  cursor: pointer;
}

.App > .sidebar .importInput {
  display: none;
}

.App > .layout {
  margin: 50px 20px 0px 20px;
}

.App-list {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media (min-width: 576px) and (orientation: landscape) {
  .App {
    text-align: center;
  }

  .App > .sidebar {
    height: 100%;
    width: 50px;
    border-right: 1px solid #ccc;
  }

  .App > .sidebar > .logo {
    display: block;
  }

  .App > .sidebar > .iconButton {
    display: block;
    margin: 15px 0 0 0;
    font-size: 30px;
  }

  .App > .layout {
    margin: 0 0 0 50px;
  }
}