.item {
    list-style-type: none;
    padding-left: 30px;
    padding-bottom: 10px;
    touch-action: pan-y!important;
}

.item > .itemHandle {
    position: absolute;
    left: -10px;
    top: -2px;
    padding: 4px 5px 4px 5px;
    touch-action: none;
}

.itemInput {
    width: 100%;
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 12px;
}

.itemInput.complete {
    text-decoration: line-through;
}

.itemCheckbox {
    position: absolute;
    top: 0px;
    left: 8px;
    font-size: 16px;
}

@media (min-width: 576px) and (orientation: landscape) {
    .item {
        padding-left: 24px;
        padding-bottom: 5px;
    }

    .itemCheckbox {
        top: 1px;
        left: 6px;
        font-size: 12px;
    }
}