.item {
    list-style-type: none;
    padding-left: 24px;
    padding-bottom: 5px;
}

.item > .itemHandle {
    position: absolute;
    left: -9px;
    top: 6px;
}

.itemInput {
    width: 100%;
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 12px;
}

.itemInput.complete {
    text-decoration: line-through;
}

.itemCheckbox {
    position: absolute;
    top: 1px;
    left: 6px;
}