body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.react-grid-placeholder {
  background-color: #ddd!important;
}

.collapseIndicator {
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.collapseIndicatorToggle {
  display: inline-block;
  width: .75em;
  top: -1px;
  position: relative;
}


.dragHandle {
  font-size: 18px;
  color: #dedede;
  cursor: move;
}

.noWrap {
  white-space: nowrap;
}

.react-grid-item > .react-resizable-handle {
  background: none;
}

.react-grid-item > .react-resizable-handle::after {
  right: 2px;
  bottom: 2px;
  width: 8px;
  height: 8px;
  border-right: 4px solid rgba(0, 0, 0, 0.1);
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
}

@media (min-width: 576px) and (orientation: landscape) {
  .dragHandle {
    font-size: 16px;
  }
}